body{
    background-color: #333239;
}
main{
    width: 350px;
    background-color: #73717D;
    padding: 5px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 2px rgb(255, 255, 255, 0.2);
    
}

/*Display______________________________________*/

#calculatorDisplay{
    width: 320px;
    text-align: right;
    background-color: white;
    margin: 15px 0px 20px 15px;
    border-radius: 10px;
    color: #333239;

}
#insert{
    font-size: 30px;
    margin: 0%;
    padding: 5px 5px;
    height: 30px;
}
#calculation{
    margin: 0%;
    padding: 5px 5px;
    color: grey;
    height: 20px;
}
hr{
   margin: 2px; 
}
/*_____________________________________________*/


/*Buttons______________________________________*/

#calculatorButtons{
    width: 320px;
    margin: 20px 0px 20px 15px;
    height: 300px;
}
#buttonsMain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.buttons{
    margin: 2px;
    background-color: white;
    padding:15px 0px 15px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: #333239;
}
.operation{
    background-color: #97959D;
    box-shadow: 1px 1px 1px white;
}
.buttons-clicked{
    background-color: #ddd;
    transform: scale(0.95);
    transition: background-color 0.2s, transform 0.2s;
}

/*____________________________________________*/


/*Delete and Clear all _______________________*/
#mainButtons{
    display: grid;
    width: 320px;
    grid-template-columns: repeat(2, 1fr);
}
.mainButtons{
    text-align: center;
    padding: 15px;
    margin: 2px;
    border-radius: 10px;
    color: #333239;
}

.orange{
    background-color: orange;
}
.red{
    background-color: #FF5D48;
}

.mainButtonsText{
    margin: 0%;
}
/*_____________________________________________*/

/*Footer- Date and time________________________*/ 
#timer{
    text-align: center;
    color:#ddd;
    font-size: 10px;
    margin-top: 50px;
}